<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>T9 Data Elements: Bind Options From File</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>

        <div th:include="topNav :: topNav"></div>

        <div class="container">
            
            <ol class="breadcrumb">
                <li><a th:href="@{|/|}">Interop</a></li>
                <li><a th:href="@{|/admin/t9/dataElements|}">T9 Data Elements</a></li>
                <li class="active">Bind options from file</li>
            </ol>
            
            
            
            <div class="row">
                <div class="col-md-12">
                    <h2>T9 Data Elements: Bind Options From File</h2>
                </div>
            </div>

            <div class="row">


                <div class="col-md-8">
                    <strong>Upload your excel file</strong> <br />
                    <span>You can upload an excel file</span>

                    <div class="row client-errors-container" style="color: red; display: none;">
                        <div class="large-6 columns">
                            <ul class="client-errors">
                                <li></li>
                            </ul>
                        </div>
                    </div>


                    <div th:if="${error!=null}" data-alert="" class="alert-box alert radius">
                        <span th:text="${error}"></span>
                        <a href="#" class="close">&times;</a>
                    </div>

                    <form method="POST" enctype="multipart/form-data">

                        <input type="file" accept=".xlsx"  class="excel-input" name="excelInput" />

                        <div>
                            <hr />
                            <button type="submit" class="btn btn-primary" style="margin-right: 30px;"><strong>Save</strong></button>
                            <a  th:href="@{/admin/t9/dataElements}" class="btn btn-default">Cancel</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>


        <script th:include="imports :: javascript" th:remove="tag"></script>


    </body>
</html>
