<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>Unmapped T9 Data Elements</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>

        <div th:include="topNav :: topNav"></div>

        <div class="container">
            
            
            <ol class="breadcrumb">
                <li><a th:href="@{|/|}">Interop</a></li>
                <li><a th:href="@{|/admin/t9/dataElements|}">T9 Data Elements</a></li>
                <li class="active">Unmapped</li>
            </ol>


            <h2><span class="glyphicon glyphicon-tags"></span> Unmapped T9 Data Elements</h2>
            
            <h4 style="color: grey;"><b><span>Total:</span> <span th:text="${dataElements.totalElements}"></span></b></h4>

             <hr />

            <form class="form-inline" method="get" th:object="${defaultSearchDto}">

                <div class="form-group">
                    <input th:field="*{q}" type="text" placeholder="" maxlength="240" class="form-control" />
                </div>

                <input type="hidden" name="directSearch" value="true" />

                <button type="submit" class="btn btn-default" style="margin-right: 120px;"><i class="fa fa-search"></i> Search</button>

            </form>

            <hr />


            <div th:if="${!dataElements.content.empty}" style="background: #fff">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DataElement ID</th> 
                            <th>DataElement Name</th>
                            <th>DataElement Code</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dataElement: ${dataElements}">
                            <td th:text="${dataElement.dhisId}"></td>                            
                            <td th:text="${dataElement.dhisName}"></td>
                            <td th:text="${dataElement.dhisCode}"></td>
                            <td>
                                <a  th:href="@{|/admin/t9/dataElements/${dataElement.id}/edit|}">Set options</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${defaultSearchDto.directSearch and dataElements.content.empty}">No Cities found</div>
                <div th:unless="${dataElements.content.empty}" th:include="pagination :: pagination (baseUrl=@{|~/admin/t9/dataElements/unmapped|(q=${defaultSearchDto.q},action=${defaultSearchDto.action})})"></div>
            </div>

        </div>
        <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
