<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>T9 Organization Units</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>
        
         <div th:include="topNav :: topNav"></div>
       
        <div class="container">


            <h2>T9 Organization Units</h2>

            <div style="margin-bottom: 10px;">
                
                <form th:action="@{/admin/t9/organizationUnits/sync}" method="post">
                    <button class="btn btn-primary"  type="submit">Sync Organization Units</button>
                </form>
            </div>


            <div th:if="${!organizationUnits.content.empty}" style="background: #fff">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>ID</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="organizationUnit: ${organizationUnits}">
                            <td th:text="${organizationUnit.dhisName}"></td>
                            <td th:text="${organizationUnit.dhisCode}"></td>
                            <td th:text="${organizationUnit.dhisId}"></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${defaultSearchDto.directSearch and organizationUnits.content.empty}">No Cities found</div>
                <div th:unless="${organizationUnits.content.empty}" th:include="pagination :: pagination (baseUrl=@{|/admin/t9/organizationUnits|(q=${defaultSearchDto.q},action=${defaultSearchDto.action})})"></div>
            </div>

        </div>
          <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
