<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>System Logs</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>
        
         <div th:include="topNav :: topNav"></div>
       
        <div class="container">
            
            
            <ol class="breadcrumb">
                <li><a th:href="@{|/|}">Interop</a></li>
                <li class="active">System Logs</li>
            </ol>


            <h2>System Logs</h2>
            
            <div class="downloadButtons">
                <div class="pull-right">
                    <a class="btn btn-default" th:href="@{|/admin/log/download|}"><i class="fa fa-file-excel-o"></i> Download Log (*.log)</a>
                </div>
                <div class="pull-left">
                    <a class="btn btn-success" th:href="@{|/admin/log/downloadInZip|}">Download Zipped File (*.zip)</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <hr />

        </div>
          <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
