<!DOCTYPE html>
<html>
    <head>
        <title>Interop</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>

        <div th:include="topNav :: topNav"></div>

        <div class="container">


            <h1>Interoperability Bridge</h1>
            <div>
                Zimbabwe National Malaria Control Program(immis) -> Zimbabwe Health Information System (nhis) 
            </div>

            <div>

                <hr />

                <div class="row">


                    <div class="col-md-4" th:if="${alertChosenButUnmappedOptions}">

                        <div class="panel panel-danger">
                            <div class="panel-heading"><b><span th:text="${@utilityService.format(chosenButUnmappedOptionCount)}"></span> chosen but unmapped options</b></div>
                            <div class="panel-body">

                                <span style="font-size: 50px; text-align: center; color: grey;"><span class="glyphicon glyphicon-ok-circle"></span></span>  &nbsp;

                                <span style="font-size: 50px; text-align: center; color: grey;" th:text="${@utilityService.format(chosenButUnmappedOptionCount)}"></span>

                                <div>
                                    <a class="btn btn-danger" th:href="@{|/admin/diagnosis/options/unmapped/chosen|}"><b>View chosen but unmapped options</b></a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4" th:if="${alertUnmappedDataElements}">

                        <div class="panel panel-warning">
                            <div class="panel-heading"><b><span th:text="${@utilityService.format(unmappedDataElementCount)}"></span> unmapped data elements</b></div>
                            <div class="panel-body">

                                <span style="font-size: 50px; text-align: center; color: grey;"><span class="glyphicon glyphicon-tags"></span></span>  &nbsp;

                                <span style="font-size: 50px; text-align: center; color: grey;" th:text="${@utilityService.format(unmappedDataElementCount)}"></span>

                                <div>
                                    <a class="btn btn-warning" th:href="@{|/admin/t9/dataElements/unmapped|}"><b>View unmapped data elements</b></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4" th:if="${alertUnmappedOptions}">

                        <div class="panel panel-danger">
                            <div class="panel-heading"><b><span th:text="${@utilityService.format(unmappedOptionCount)}"></span> unmapped options</b></div>
                            <div class="panel-body">

                                <span style="font-size: 50px; text-align: center; color: grey;"><span class="glyphicon glyphicon-check"></span></span>  &nbsp;

                                <span style="font-size: 50px; text-align: center; color: grey;" th:text="${@utilityService.format(unmappedOptionCount)}"></span>

                                <div>
                                    <a class="btn btn-danger" th:href="@{|/admin/diagnosis/options/unmapped|}"><b>View unmapped options</b></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" th:if="${alertUnmappedDiagnosisForms}">

                        <div class="panel panel-warning">
                            <div class="panel-heading"><b><span th:text="${@utilityService.format(unmappedDiagnosisFormCount)}"></span> unmapped diagnosis forms</b></div>
                            <div class="panel-body">

                                <span style="font-size: 50px; text-align: center; color: grey;"><span class="glyphicon glyphicon-list-alt"></span></span>  &nbsp;

                                <span style="font-size: 50px; text-align: center; color: grey;" th:text="${@utilityService.format(unmappedDiagnosisFormCount)}"></span>

                                <div>
                                    <a class="btn btn-warning" th:href="@{|/admin/diagnosis/forms/unmapped|}"><b>View unmapped diagnosis forms</b></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
