<!DOCTYPE html>
<html>
    <head>
        <title>Top Navigation</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="topNav">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{/}"><b>Interop</b></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/}"><b><span class="glyphicon glyphicon-dashboard"></span> Dashboard</b></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b><span class="glyphicon glyphicon-edit"></span> Maintenance</b></a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{|/admin/diagnosis/organizationUnits|}"><b><span class="glyphicon glyphicon-home"></span> Diagnosis Orgn Units</b></a></li>
                                    <li><a th:href="@{|/admin/diagnosis/options|}"><b><span class="glyphicon glyphicon-ok-circle"></span> Diagnosis Options</b></a></li>
                                    <li><a th:href="@{|/admin/diagnosis/forms|}"><b><span class="glyphicon glyphicon-list-alt"></span> Diagnosis Forms</b></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a th:href="@{|/admin/t9/organizationUnits|}"><b><span class="glyphicon glyphicon-home"></span> T9 Orgn Units</b></a></li>
                                    <li><a th:href="@{|/admin/t9/dataElements|}"><b><span class="glyphicon glyphicon-tags"></span> T9 Data Elements</b></a></li>
                                    <li><a th:href="@{|/admin/t9/formElements|}"><b><span class="glyphicon glyphicon-tasks"></span> T9 Form/DataSet Elements</b></a></li>
                                    
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b><span class="glyphicon glyphicon-list-alt"></span> Reports</b></a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{|/admin/report/t9DataSetValues/reportInput|}"><b><span class="glyphicon glyphicon-list-alt"></span> Monthly T9 DataSet Values</b></a></li>
                                    <li><a th:href="@{|/admin/report/t9DataSetValues|}"><b><span class="glyphicon glyphicon-list-alt"></span> T9 DataSet Values</b></a></li>
                                </ul>
                            </li>
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b><span class="glyphicon glyphicon-asterisk"></span> Troubleshoot</b></a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{|/admin/diagnosis/options/unmapped/chosen|}"><b><span class="glyphicon glyphicon-ok-circle"></span> Chosen but unmapped options</b></a></li>
                                    <li><a th:href="@{|/admin/diagnosis/options/unmapped|}"><b><span class="glyphicon glyphicon-check"></span> Unmapped options</b></a></li>
                                    <li><a th:href="@{|/admin/t9/dataElements/unmapped|}"><b><span class="glyphicon glyphicon-tags"></span> Unmapped data elements</b></a></li>
                                    <li><a th:href="@{|/admin/diagnosis/forms/unmapped|}"><b><span class="glyphicon glyphicon-list-alt"></span> Unmapped diagnosis forms</b></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a th:href="@{|/admin/logs|}"><b><span class="glyphicon glyphicon-wrench"></span> System Logs</b></a></li>
                                </ul>
                            </li>
                            
                            
                            
                            <li><a th:href="@{|/logout|}"><b><span class="glyphicon glyphicon-circle-arrow-right"></span> Logout</b></a></li>
                        </ul>


                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
    </body>
</html>
