<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>Diagnosis Organization Units</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>
        
         <div th:include="topNav :: topNav"></div>
       
        <div class="container">


            <h2>Diagnosis Organization Units</h2>
            
            <h4 style="color: grey;"><b><span>Total:</span> <span th:text="${organizationUnits.totalElements}"></span></b></h4>

            <hr />

            <form class="form-inline" method="get" th:object="${defaultSearchDto}">

                <div class="form-group">
                    <input th:field="*{q}" type="text" placeholder="" maxlength="240" class="form-control" />
                </div>

                <input type="hidden" name="directSearch" value="true" />

                <button type="submit" class="btn btn-default" style="margin-right: 120px;"><i class="fa fa-search"></i> Search</button>

            </form>

            <hr />
            
            
            
            
            <div style="margin-bottom: 10px;">
                
                <form th:action="@{/admin/diagnosis/organizationUnits/sync}" method="post">
                    <button class="btn btn-primary"  type="submit">Sync Organization Units</button>
                </form>
            </div>


            <div th:if="${!organizationUnits.content.empty}" style="background: #fff">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>ID</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="organizationUnit: ${organizationUnits}">
                            <td th:text="${organizationUnit.dhisName}"></td>
                            <td th:text="${organizationUnit.dhisCode}"></td>
                            <td th:text="${organizationUnit.dhisId}"></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${defaultSearchDto.directSearch and organizationUnits.content.empty}">No Organization Units found</div>
                <div th:unless="${organizationUnits.content.empty}" th:include="pagination :: pagination (baseUrl=@{|~/admin/diagnosis/organizationUnits|(q=${defaultSearchDto.q},action=${defaultSearchDto.action})})"></div>
            </div>

        </div>
          <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
