<!DOCTYPE html>
<html>
    <head th:inline="text">
        <title>Unmapped Diagnosis Options</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:include="imports :: css" th:remove="tag" />
    </head>
    <body>
        
         <div th:include="topNav :: topNav"></div>
       
        <div class="container">
            
            
            <ol class="breadcrumb">
                <li><a th:href="@{|/|}">Interop</a></li>
                <li><a th:href="@{|/admin/diagnosis/options|}">Diagnosis Options</a></li>
                <li><a th:href="@{|/admin/diagnosis/options/unmapped|}">Unmapped</a></li>
                <li class="active">Chosen</li>
            </ol>


            <h2><span class="glyphicon glyphicon-ok-circle"></span> Chosen but Unmapped Diagnosis Options (IMMIS)</h2>
            
            <h4 style="color: grey;"><b><span>Total:</span> <span th:text="${@utilityService.format(options.totalElements)}"></span></b></h4>

             <hr />

            <form class="form-inline" method="get" th:object="${defaultSearchDto}">

                <div class="form-group">
                    <input th:field="*{q}" type="text" placeholder="" maxlength="240" class="form-control" />
                </div>

                <input type="hidden" name="directSearch" value="true" />

                <button type="submit" class="btn btn-default" style="margin-right: 120px;"><i class="fa fa-search"></i> Search</button>

            </form>

            <hr />


            <div th:if="${!options.content.empty}" style="background: #fff">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Option Name</th>
                            <th>Option Code</th>
                            <th>Option ID</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="option: ${options}">
                            <td th:text="${option.dhisName}"></td>
                            <td th:text="${option.dhisCode}"></td>
                            <td th:text="${option.dhisId}"></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${defaultSearchDto.directSearch and options.content.empty}">No Options found</div>
                <div th:unless="${options.content.empty}" th:include="pagination :: pagination (baseUrl=@{|~/admin/diagnosis/options/unmapped/chosen|(q=${defaultSearchDto.q},action=${defaultSearchDto.action})})"></div>
            </div>

        </div>
          <script th:include="imports :: javascript" th:remove="tag"></script>
    </body>
</html>
